/* Setup Styles */
body {
  background-color: teal;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 48px;
  color: white;
  padding-bottom: 30px;
}

section {
  width: 800px;
  margin: 20px auto;
  background: white;
}

/* Workshop Styles */
.border-radius {
  border: 5px solid orange;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.border-img {
  height: 240px;
  width: 240px;
  position: relative;
  background-image: url("img/abstract.jpeg");
  padding: 50px;
  border: 50px solid transparent;
  background-clip: padding-box;
}

.wrap {
  width: 490px;
  padding: 40px;
  overflow-wrap: break-word;
  background: yellow;
}

.gradient {
  width: 350px;
  height: 350px;
  margin: 50px auto;
  background-color: lightblue;
  background: repeating-radial-gradient(rgba(255,255,255,0), lightgreen, lightblue 30%);
}
